.question-timer-container {
  position: relative;
  display: inline-block;
  margin-top: 100px;
}

.question-timer-svg {
  display: block;
  z-index: 2;
}

.question-timer-number {
  position: absolute;
  top: 18%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the number */
}

.question-timer-text {
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

.pokemon-container {
  position: absolute;
  z-index: 2;
  top: 60%; /* Adjust this value to move the image lower */
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemon-image {
  width: 70%;
  height: 70%;
  transition: filter 0.5s ease;
  object-fit: contain;
}

.silhouette {
  filter: brightness(0) grayscale(1);
}

.no-silhouette {
  filter: none;
  /* image-rendering: pixelated; */
}