:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #dbdbdb !important;
}

@font-face {
  font-family: 'Orbitron';
  src: url('/fonts/Orbitron.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Custom scrollbar for Webkit browsers */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #222; /* Dark background */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #4d4b4b; /* Light gray */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker gray */
}
